body
{
  background-color: whitesmoke;
}

.main-menu
{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 999;
}

.other-menu
{
  margin-top: 56px;
}

#top-banner
{
  margin-top: 0px;
}

#dropdown-login
{
  /*left: -100% !important;*/
  width: 350px;
}

.me-post-content-public
{
  /*background-color: rgba(10, 10, 10, 0.1);*/
  background-color: #e0ffe8;
}

.me-post-content-closed
{
  /*background-color: rgba(10, 10, 10, 0.1);*/
  background-color: #ffe0e0;
}

.me-border-radius-5
{
	border-radius: 5px;
}

.me-position-absolute
{
	position: absolute;
}

.me-z-index-9999
{
	z-index: 9999;
}

.me-width-100-per
{
  width: 100%;
}

.me-white-space-pre
{
  white-space: pre-line;
}

.me-show{
  display: block;
}

.me-hide{
  display: none;
}

.me-margin-top-5px{
  margin-top: 5px;
}

.me-margin-right-5px{
  margin-right: 5px;
}

.showHashtag{
  /*background-color: cornsilk;*/
  padding: 5px;
  margin-bottom: 5px;
}

.showHashtag a{

  background-color: #e9ebee;
  margin-right: 2px;
  border-radius: 18px;
  line-height: 42px;
  padding: 9px 12px;
  word-break: break-word;
}

.limit-text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 28px;     /* fallback */
   max-height: 64px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   resize:none;
}
