body
{
  background-color: whitesmoke;
  position: relative
}

html, body
{
    width: 100%;
    margin-top: 27px;
}

.main-menu
{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 54px;
  z-index: 999;
}

.other-menu
{
  margin-top: 56px;
}

#top-banner
{
  margin-top: 0px;
}

.me-color-success{
  color:red;
}

.me-pointer-events-all{
  pointer-events:all;/*enable element events*/
}

.me-post-content-public
{
  /*background-color: rgba(10, 10, 10, 0.1);*/
  background-color: #f6fef9;
  border: solid #23d160 1px;
}

.me-post-content-closed
{
  /*background-color: rgba(10, 10, 10, 0.1);*/
  background-color: #fff5f7;
  border: solid #ff3860 1px;
}

.me-border-radius-5
{
	border-radius: 5px;
}

.me-position-absolute
{
	position: absolute;
}

.me-z-index-9999
{
	z-index: 9999;
}

.me-width-100-per
{
  width: 100%;
}

.me-white-space-pre
{
  white-space: pre-line;
}

.me-show{
  display: block;
}

.me-hide{
  display: none;
}

.me-margin-top-5px{
  margin-top: 5px;
}

.me-margin-right-5px{
  margin-right: 5px;
}

.me-delete-img{
  width: 20px;
  height: 20px;
  padding: 11px;
}

.me-upload-img{
  background-color: #e9ebee;
  margin-right: 2px;
  border-radius: 18px;
  padding: 1px 30px;
  word-break: break-word;
  margin-top: 5px;
  border-color: #fff;
  line-height: 31px;
}

.me-upload-img:hover{
  background-color: #dddfe2;
}

.me-z-index-9999{
  z-index: 9999;
}

.showHashtag{
  /*background-color: cornsilk;*/
  padding: 5px;
  margin-bottom: 5px;
}

.showHashtag a{

  background-color: #e9ebee;
  margin-right: 2px;
  border-radius: 18px;
  line-height: 42px;
  padding: 9px 12px;
  word-break: break-word;
}

.limit-text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 28px;     /* fallback */
   max-height: 64px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
   resize:none;
}

.mypostFixed {
  background-color: #ffffff;
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0px;
  -webkit-box-shadow: 0px 3px 3px -1px rgba(158,146,158,1);
  -moz-box-shadow: 0px 3px 3px -1px rgba(158,146,158,1);
  box-shadow: 0px 3px 3px -1px rgba(158,146,158,1);
}

.me-gray-background{
  background-color: rgba(245, 245, 245, 1) !important;
}

.me-gray2-background{
  background-color: rgba(173, 173, 173, 1) !important;
}

.me-footerButtons {
    bottom: 14px;
    position: fixed;
    right: 30px;
    z-index: 660;
}

.me-footerButtons div {
  font-size: 50px;
  padding: 0px 14px 11px 14px !important;
  color: rgba(173, 173, 173, 1) !important;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0.5px rgba(0, 0, 0, 0.04);
}

.hero.me-section{
  background-color: #209cee;
}

.hero.me-section .title, .subtitle {
    color: #fff;
}

.hero-foot a{
  color: #fff;
}

.search-post{
  position: fixed;
  z-index: 1000;
  top: 9px;
  right: 1%;
}

.search-post input{
  width: 200px;
}

.me-post-card {
  width: 500px;
}

.columns.is-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
}

@media only screen and (min-width: 767px) and (orientation: landscape) {
    /* tablets and desktop */
    .me-post-card {
      width: 500px;
    }

    
}

@media only screen and (max-width: 767px) {
    /* phones */
    .me-post-card {
      width: 90%;
    }
    body{
      overflow-x: hidden;
    }
    .search-post{
      top: 54px;
      left: 0;
      padding: 2px;
      background-color: #209cee;
      width: 100%;
    }
    .search-post input{
      width: 100%;
    }
    #navMenu {
      top: 90px;
      position: absolute;
      width: 100%;
    } 
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    .me-post-card {
      width: 90%;
    }
    body{
      overflow-x: hidden;
    }
}
